body{
    background-color: #f7ead7;
    font-size: 18px;
}
section{
    height: 100vh;
    display: grid;
    grid-template-rows: 45%;
}
.title{
    justify-self: center;
    align-self: end;
    font-size: 4.5em;
    margin-bottom: 0;
}
.sub-title{
    justify-self: center;
    align-self: start;
    font-size: 1.5em;
    margin-top: 0;
    color: hsl(0deg 0% 17.96%);
}
.section-break{
    height: 1px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #ffdea0;
}
.heading{
    font-size: 2em;
    margin-top: 0;
}
.sub-heading{
    font-size: 1.5em;
    margin-top: 0;
}
.about{
    grid-template-columns: 50%;
    background-color: #251006;
    border: solid black 1px;
}
.about .heading{
    justify-self: center;
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    color: hsl(0deg 0% 92.8%);
}
.about .sub-heading{
    justify-self: center;
    grid-row: 2;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #fdefd8;
    display: grid;
    align-content: center;
    grid-template-rows: min-content min-content;
        border: black solid 1px;
}
.heading + .sub-heading{
    justify-self: center;
    grid-row: 1;
    display: grid;
    align-content: center;
    grid-template-rows: min-content min-content;
}
.text{
    color: hsl(0, 0%, 25%);
    text-wrap: wrap;
    font-size: 0.75em;
}

@media screen and (orientation: landscape){
    section{
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (orientation: portrait){
    section{
        margin-top: 20vh;
        margin-bottom: 20vh;
        height: 60vh;
    }
}